.locker,
.locker-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.locker {
	z-index: 1000;
	opacity: 0.8;
	background-color: white;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

.locker-loader {
	z-index: 1001;
	background: url(../images/ajax-loader.gif) no-repeat center center;
}

/* datatables */
.dt-button {
	display: none !important;
}