
*,
*::before,
*::after {
  box-sizing: border-box;
}

#visualizer-icon {
	background-image: url("../images/icon.png");
}

.visualizer-clearfix {
	*zoom: 1;
}

.visualizer-clearfix:before,
.visualizer-clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.visualizer-clearfix:after {
	clear: both;
}

#visualizer-types {
	margin: 20px 0 10px;
}

.visualizer-list-item .visualizer-pro-only {
	text-decoration: line-through;
}
#visualizer-content-wrapper {
    padding: 0;
}
#visualizer-library {
	width: auto;
	margin: 20px -10px;
    display: flex;
    flex-wrap: wrap;
}

#visualizer-library.visualizer-clearfix:before,
#visualizer-library.visualizer-clearfix:after {
    display: none;
}

#visualizer-content-wrapper {
	width: 100%;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
}
#visualizer-library .items {
    padding: 0 10px;
    width: 33.3333%;
}

.visualizer-chart {
	margin: 0 0px 24px 0;
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #efefef;
	box-shadow: 0 0 8px #ddd;
}
.visualizer-chart-canvas {
	position: relative;
	width: 30%;
	height: 18.75%;
	border: 1px solid #ddd;
	background-color: white;
}

.visualizer-nochart-canvas {
	background-image: url("../images/notfound.png?v=4");
	background-repeat: repeat;
}

.visualizer-notfound {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin-top: -7px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.visualizer-chart-action {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin: 2px 5px 0;
	background-image: url("../images/ui-icons.png");
	background-repeat: no-repeat;
}

.visualizer-nochart-delete,
.visualizer-chart-delete {
	background-position: -176px -96px;
}

.visualizer-nochart-clone,
.visualizer-chart-clone {
	background-position: -176px -128px;
}

.visualizer-nochart-edit,
.visualizer-chart-edit {
	background-position: -64px -112px;
}

.visualizer-nochart-export,
.visualizer-chart-export {
	background-position: -46px -64px;
}

.visualizer-nochart-shortcode,
.visualizer-chart-shortcode {
    background-position: -143px -126px;
    float: left;
}

.visualizer-nochart-image,
.visualizer-chart-image {
	background-position: -206px -129px;
}

.visualizer-nochart-clone,
.visualizer-nochart-delete,
.visualizer-nochart-shortcode,
.visualizer-nochart-export,
.visualizer-nochart-image,
.visualizer-nochart-edit {
	opacity: 0.5;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.visualizer-chart-footer {
	margin-top: 4px;
    width: 100%;
}

.visualizer-chart-shortcode {
	padding: 3px 0;
	color: #aaa;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

.visualizer-chart-shortcode::-moz-selection,
.visualizer-chart-shortcode::-moz-selection {
	color: black;
	background-color: #a8d1ff;
	text-shadow: none;
}

.visualizer-chart-shortcode::selection,
.visualizer-chart-shortcode::-moz-selection {
	color: black;
	background-color: #a8d1ff;
	text-shadow: none;
}

.visualizer-list-item {
	float: left;
	margin-right: 20px;
}

#visualizer-search form {
	text-align: right;
}

.visualizer-sidebar-box {
    display: block;
    padding: 30px 34px;
    background: white;
}

.visualizer-sidebar-box h3{
    padding: 0;
    margin: 0 0 20px;
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.visualizer-sidebar-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.visualizer-sidebar-box ul li {
	color: #000;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    padding-left: 26px;
}

.visualizer-sidebar-box ul li .icon{
    color: #00AA63;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 3px;
}
.visualizer-sidebar-box .button {
    width: 155px;
    height: 39px;
    background: #007CBA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}
.visualizer-sidebar-box .we-offer{
    background-color: transparent; 
    color: #007CBA; 
    font-weight: 400;
    padding: 0px;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
}
.visualizer-sidebar-box .help-us-improve{
    display: none;
}
.visualizer-chart.viz-pro {
    padding: 0;
}
.two-col .viz-pro .two-columns{
    padding: 0;
    border: 1px solid #DDDDDD;
    border: 5px solid #007CBA;
}
#visualizer-library .items.two-col {
    width: 66.6666%;
}


/* The switch - the box around the slider */
.visualizer-switch {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 18px;
}

/* Hide default HTML checkbox */
.visualizer-switch input {
	display: none;
}

/* The slider */
.visualizer-tracking sup {
	vertical-align: 3px;
}

.visualizer-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.visualizer-slider:before {
	position: absolute;
	bottom: 1.5px;
	left: 2px;
	width: 15px;
	height: 15px;
	background-color: white;
	content: "";
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .visualizer-slider {
	background-color: #0085ba;
}

input:focus + .visualizer-slider {
	box-shadow: 0 0 1px #0085ba;
}

input:checked + .visualizer-slider:before {
	-webkit-transform: translateX(11px);
	-ms-transform: translateX(11px);
	transform: translateX(11px);
}

/* Rounded sliders */
.visualizer-slider.visualizer-round {
	border-radius: 34px;
}

.visualizer-slider.visualizer-round:before {
	border-radius: 50%;
}

.visualizer-tracking p small sup {
	margin-left: -3px;
}

.visualizer-tracking p {
	padding-left: 14px;
	color: #23282d;
	font-size: 12px;
	line-height: 12px;
	text-align: left;
}

.visualizer-tracking span {
	margin-left: 10px;
	color: #23282d;
	background: none;
	font-size: 14px;
	font-weight: bold;
}

#visualizer-content-wrapper {
	display: table;
}

#visualizer-sidebar h3 {
	margin-top: 0;
}

#visualizer-sidebar.two-columns .visualizer-sidebar-box ul li {
    width: calc(50% - 26px)
}
#visualizer-sidebar.one-columns .visualizer-sidebar-box ul li {
    width: 100%;
}
#visualizer-sidebar.one-columns .visualizer-sidebar-box p {
    margin-top: 8px;
}
#visualizer-sidebar .visualizer-sidebar-box p {
	margin-bottom: 0;
}
#visualizer-sidebar.one-columns {
    border-top: 5px solid #007CBA;
}

.visualizer-chart-title {
	padding-bottom: 5px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.visualizer-library-form .viz-filter {
	vertical-align: middle;
}

button.media-modal-close {
	display: none !important;
}

.dataTables_wrapper {
    max-height: 300px;
    overflow: hidden !important;
}

/* datatables */
.dt-button {
	display: none !important;
}

/* chartjs */
#visualizer-library canvas.chartjs-render-monitor {
	height: 100% !important;
}

div#visualizer-types ul, div#visualizer-types form p {
	vertical-align: middle;
	margin: 0;
}

.visualizer-chart-status {
	padding: 3px 0;
	color: #aaa;
	text-shadow: 0 1px 0 #fff;
}

.visualizer-chart-status span.visualizer-error {
	float: right;
}

.visualizer-error i {
	color: green;
}
.visualizer-error i.error {
	color: red;
	cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1000px) and (max-width: 1600px)  {
	#visualizer-sidebar.one-columns .visualizer-sidebar-box ul li:nth-child(+n+7) {
	    display: none;
	}
}
@media  (max-width: 1500px) {
	#visualizer-library .items .viz-pro{
		height: 100%;
		padding-bottom: 24px;
	}
	#visualizer-library .items .viz-pro .one-columns{
		height: 100%;
	}
	#visualizer-library .items .viz-pro .visualizer-sidebar-box{
		height: 100%;
	}
	#visualizer-library .items .viz-pro.two-columns{
		padding-bottom: 0;
	}
	#visualizer-sidebar.one-columns .visualizer-sidebar-box ul li:nth-child(+n+7) {
	    display: none;
	}
	.visualizer-chart{
		height: calc(100% - 24px);
	}
}
