
*,
*::before,
*::after {
  box-sizing: border-box;
}

#visualizer-icon {
	background-image: url("../images/icon.png");
}

.visualizer-clearfix {
	*zoom: 1;
}

.visualizer-clearfix:before,
.visualizer-clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.visualizer-clearfix:after {
	clear: both;
}

#visualizer-types {
	margin: 20px 0 10px;
}

.visualizer-list-item .visualizer-pro-only {
	text-decoration: line-through;
}
#visualizer-content-wrapper {
    padding: 0;
}
#visualizer-library {
	width: auto;
	margin: 20px -10px;
    display: flex;
    flex-wrap: wrap;
}

#visualizer-library.visualizer-clearfix:before,
#visualizer-library.visualizer-clearfix:after {
    display: none;
}

#visualizer-content-wrapper {
	width: 100%;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
}
#visualizer-library .items {
    padding: 0 10px;
    width: 33.3333%;
}

.visualizer-chart {
	margin: 0 0px 24px 0;
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #efefef;
	box-shadow: 0 0 8px #ddd;
}
.visualizer-chart-canvas {
	position: relative;
	width: 30%;
	height: 18.75%;
	border: 1px solid #ddd;
	background-color: white;
}

.visualizer-nochart-canvas {
	background-image: url("../images/notfound.png?v=4");
	background-repeat: repeat;
}

.visualizer-notfound {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin-top: -7px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.visualizer-action-group{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.visualizer-chart-action {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin: 2px 0 0;
	border-radius: 100%;
	text-decoration: none;
	color: #3F3F3F;
}

.visualizer-chart-action .tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #3F3F3F;
  color: #fff;
  text-align: center;
  padding: 5px 14px;
  position: absolute;
  border-radius: 2px;
  font-size: 12px;
  line-height: 14px;
  z-index: 1;
  white-space: nowrap;
  left: 50%;
  top: calc(100% + 9px);
  transform: translate(-50%, 0);
  transition: all .3s ease-in-out;
}
.visualizer-chart-action:focus {
	border: none;
	box-shadow: none;
}
.visualizer-chart-action .tooltip-text::before {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  left: 50%;
  top: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 10px solid #3F3F3F;
  transform: translate(-50%, -8px);
}
.visualizer-chart-action:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.visualizer-chart-action .dashicons{
	width: 16px;
	height: 16px;
	font-size: 16px;
}
.visualizer-action-group:not(.visualizer-nochart) .visualizer-chart-action:hover,
.visualizer-action-group:not(.visualizer-nochart) .visualizer-chart-action:focus {
	color: #3F3F3F;
	background: #ffffff;
}

.visualizer-chart-action.visualizer-chart-delete,
.visualizer-chart-action.visualizer-nochart-delete {
	margin-right: auto;
}
.visualizer-action-group:not(.visualizer-nochart) .visualizer-chart-action.visualizer-chart-delete:hover,
.visualizer-action-group:not(.visualizer-nochart) .visualizer-chart-action.visualizer-nochart-delete:hover {
	color: #DA1E28;
}

.visualizer-nochart-clone,
.visualizer-nochart-delete,
.visualizer-nochart-shortcode,
.visualizer-nochart-export,
.visualizer-nochart-image,
.visualizer-nochart-edit {
	opacity: 0.5;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.visualizer-chart-footer {
	margin-top: 4px;
    width: 100%;
}

.visualizer-list-item {
	float: left;
	margin-right: 20px;
}

#visualizer-search form {
	text-align: right;
}

.visualizer-sidebar-box {
    display: block;
    padding: 30px 34px;
    background: white;
}

.visualizer-sidebar-box h3{
    padding: 0;
    margin: 0 0 20px;
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.visualizer-sidebar-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.visualizer-sidebar-box ul li {
	color: #000;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    padding-left: 26px;
}

.visualizer-sidebar-box ul li .icon{
    color: #00AA63;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 3px;
}
.visualizer-sidebar-box .button {
    width: 155px;
    height: 39px;
    background: #007CBA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}
.visualizer-sidebar-box .button.button-secondary{
	background: #ffffff;
	color: #007CBA;
}
.visualizer-sidebar-box .we-offer{
    background-color: transparent;
    color: #007CBA;
    font-weight: 400;
    padding: 0px;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
}
.visualizer-sidebar-box .help-us-improve{
    display: none;
}
.visualizer-chart.viz-pro {
    padding: 0;
}
.two-col .viz-pro .two-columns{
    padding: 0;
    border: 1px solid #DDDDDD;
    border: 5px solid #007CBA;
}
#visualizer-library .items.two-col {
    width: 66.6666%;
}


/* The switch - the box around the slider */
.visualizer-switch {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 18px;
}

/* Hide default HTML checkbox */
.visualizer-switch input {
	display: none;
}

/* The slider */
.visualizer-tracking sup {
	vertical-align: 3px;
}

.visualizer-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.visualizer-slider:before {
	position: absolute;
	bottom: 1.5px;
	left: 2px;
	width: 15px;
	height: 15px;
	background-color: white;
	content: "";
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .visualizer-slider {
	background-color: #0085ba;
}

input:focus + .visualizer-slider {
	box-shadow: 0 0 1px #0085ba;
}

input:checked + .visualizer-slider:before {
	-webkit-transform: translateX(11px);
	-ms-transform: translateX(11px);
	transform: translateX(11px);
}

/* Rounded sliders */
.visualizer-slider.visualizer-round {
	border-radius: 34px;
}

.visualizer-slider.visualizer-round:before {
	border-radius: 50%;
}

.visualizer-tracking p small sup {
	margin-left: -3px;
}

.visualizer-tracking p {
	padding-left: 14px;
	color: #23282d;
	font-size: 12px;
	line-height: 12px;
	text-align: left;
}

.visualizer-tracking span {
	margin-left: 10px;
	color: #23282d;
	background: none;
	font-size: 14px;
	font-weight: bold;
}

#visualizer-content-wrapper {
	display: table;
}

#visualizer-sidebar h3 {
	margin-top: 0;
}

#visualizer-sidebar.two-columns .visualizer-sidebar-box ul li {
    width: calc(50% - 26px)
}
#visualizer-sidebar.one-columns .visualizer-sidebar-box ul li {
    width: 100%;
}
#visualizer-sidebar.one-columns .visualizer-sidebar-box p {
    margin-top: 8px;
}
#visualizer-sidebar .visualizer-sidebar-box p {
	margin-bottom: 0;
}
#visualizer-sidebar .visualizer-sidebar-box p.vz-sidebar-box-action {
	display: flex;
	gap: 20px;
	margin-top: 25px;
}
#visualizer-sidebar .visualizer-sidebar-box p.vz-sidebar-box-action .button{
	width: 100%;
	text-align: center;
}
#visualizer-sidebar.one-columns {
    border-top: 5px solid #007CBA;
}

.visualizer-chart-title {
	padding-bottom: 5px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.visualizer-library-form .viz-filter {
	vertical-align: middle;
}

button.media-modal-close {
	display: none !important;
}

.dataTables_wrapper {
    max-height: 300px;
    overflow: hidden !important;
}

/* datatables */
.dt-button {
	display: none !important;
}

/* chartjs */
#visualizer-library canvas.chartjs-render-monitor {
	height: 100% !important;
}

div#visualizer-types ul, div#visualizer-types form p {
	vertical-align: middle;
	margin: 0;
}

.visualizer-chart-status {
	padding: 3px 0;
	color: #aaa;
	text-shadow: 0 1px 0 #fff;
}

.visualizer-chart-status span.visualizer-error {
	float: right;
}

.visualizer-error i {
	color: green;
}
.visualizer-error i.error {
	color: red;
	cursor: pointer;
}
.goog-combobox input {
	min-height: auto;
}
.vz-library-chart-filter:not(:empty) {
	background-color: #ffffff;
	padding: 5px 0 5px 5px;
	border: 1px solid #ddd;
}
.google-visualization-controls-rangefilter {
	white-space: inherit !important;
}
.visualizer-languages-list {
	text-align: right;
}
.visualizer-languages-list a {
	text-decoration: none;
	display: inline-block;
	margin-left: 3px;
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
}
.visualizer-languages-list a:focus {
	border: none;
	outline: none;
	box-shadow: none;
}
.visualizer-languages-list:not(.only-pro) i {
	display: none;
}
.visualizer-languages-list:not(.only-pro) a:hover img {
	display: none;
}
.visualizer-languages-list:not(.only-pro) a:hover img + i {
	display: block;
}
.visualizer-languages-list.only-pro a:last-child {
	display: none;
}
.visualizer-languages-list.only-pro:hover a:not(:last-child) {
	display: none;
}
.visualizer-languages-list.only-pro:hover a:last-child {
	display: block;
}
.visualizer-action-left {
	float: left;
}
.visualizer-action-right {
	float: right;
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1000px) and (max-width: 1600px)  {
	#visualizer-sidebar.one-columns .visualizer-sidebar-box ul li:nth-child(+n+7) {
	    display: none;
	}
}
@media  (max-width: 1500px) {
	#visualizer-library .items .viz-pro{
		height: 100%;
		padding-bottom: 24px;
	}
	#visualizer-library .items .viz-pro .one-columns{
		height: 100%;
	}
	#visualizer-library .items .viz-pro .visualizer-sidebar-box{
		height: 100%;
	}
	#visualizer-library .items .viz-pro.two-columns{
		padding-bottom: 0;
	}
	#visualizer-sidebar.one-columns .visualizer-sidebar-box ul li:nth-child(+n+7) {
	    display: none;
	}
	.visualizer-chart{
		height: calc(100% - 24px);
	}
}



.vizualizer-renew-notice-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.vizualizer-renew-notice-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 1000;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	font-weight: bold;
	margin-bottom: 20px;
}

.vizualizer-renew-notice-heading {
	color: #d32f2f;
	text-align: left;
	margin-bottom: 10px;
}

.vizualizer-renew-notice-message {
	word-wrap: break-word;
	width: 250px;
}

.vizualizer-renew-notice-buttons-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	text-align: center;
	margin-top: 20px;
}

.vizualizer-renew-notice-button {
	padding: 10px 20px;
	cursor: pointer;
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 200px;
	height: 50px;
	border-radius: 4px;
	transition: background-color 0.3s;
	font-weight: bold;
	margin-top: 10px;
}

.vizualizer-renew-notice-renew-button {
	background-color: #008CBA;
}

.vizualizer-renew-notice-activate-button {
	background-color: #4CAF50;
}

.vizualizer-renew-notice-close-icon {
	position: absolute;
	top: -10px;
	right: -70px;
	cursor: pointer;
	color: #333;
	background: none;
	border: none;
	padding: 0;
	outline: none;
	/* Reset button styles */
	display: inline-block;
	font: inherit;
	text-align: inherit;
	text-decoration: none;
}
