#visualizer-library-view {
	padding: 30px 10px 10px 30px;
}

.visualizer-library-filters {
	margin-top: 18px !important;
	margin-left: 14px !important;
}

.visualizer-clearfix {
	*zoom: 1;
}

.visualizer-clearfix:before,
.visualizer-clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.visualizer-clearfix:after {
	clear: both;
}

.visualizer-library-chart {
	float: left;
	margin: 0 20px 20px 0;
	padding: 5px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0px 0px 8px #ddd;
	box-shadow: 0px 0px 8px #ddd;
	background-color: #efefef;
}

.visualizer-library-chart-canvas {
	height: 187px;
	width: 250px;
	border: 1px solid #ddd;
	background-color: white;
	background-image: url('../images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.visualizer-library-chart-action {
	float: right;
	display: block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-image: url('../images/ui-icons.png');
	margin: 2px 5px 0;
}

.visualizer-library-chart-delete {
	background-position: -176px -96px;
}

.visualizer-library-chart-insert {
	background-position: -48px -48px;
}

.visualizer-library-chart-edit {
	background-position: -64px -112px;
}

.visualizer-library-chart-clone {
	background-position: -176px -128px;
}

.visualizer-library-chart-footer {
	margin-top: 4px;
}

.visualizer-library-chart-shortcode {
	color: #aaa;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	padding: 3px 0;
}

.visualizer-library-chart-shortcode::selection,
.visualizer-library-chart-shortcode::-moz-selection {
	background-color: #a8d1ff;
	color: black;
	text-shadow: none;
}

#visualizer-library-pagination {
	margin-right: 30px;
}

.visualizer-library-pagination-item {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.visualizer-library-pagination-page {
	padding: 5px 10px;
	background-color: #aaa;
	color: white !important;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 0 5px #ccc;
	font-weight: bold;
}

.visualizer-library-pagination-active > .visualizer-library-pagination-page,
a.visualizer-library-pagination-page:hover {
	background-color: lightcoral;
	box-shadow: 0 0 5px lightpink;
}

.visualizer-type-box {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px dashed #ddd;
	-webkit-box-shadow: 0px 0px 8px #ddd;
	box-shadow: 0px 0px 8px #ddd;
	background-color: #efefef;
}

.visualizer-type-box:nth-child(3n+3) {
	margin-right: 0px;
}

.visualizer-type-label {
	display: block;
	width: 270px;
	height: 195px;
	padding: 15px;
	background-color: white;
	background-image: url(../images/chart_types_g.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #e0e0e0;
}

.visualizer-type-label-selected,
.visualizer-type-label:hover {
	background-image: url(../images/chart_types.png);
}

#visualizer-chart-type-picker {
	margin: 50px auto;
	width: 952px;
}

.visualizer-type-box-area .visualizer-type-label {
	background-position: 0px -225px;
}

.visualizer-type-box-line .visualizer-type-label {
	background-position: -600px 0px;
}

.visualizer-type-box-scatter .visualizer-type-label {
	background-position: -300px 0px;
}

.visualizer-type-box-pie .visualizer-type-label {
	background-position: 0px 0px;
}

.visualizer-type-box-gauge .visualizer-type-label {
	background-position: 0px -450px;
}

.visualizer-type-box-geo .visualizer-type-label {
	background-position: -600px -450px;
}

.visualizer-type-box-candlestick .visualizer-type-label {
	background-position: -300px -450px;
}

.visualizer-type-box-bar .visualizer-type-label {
	background-position: -300px -225px;
}

.visualizer-type-box-column .visualizer-type-label {
	background-position: -600px -225px;
}