#viz-features .viz-features-header {
	box-sizing: border-box;
	padding: 20px 30px 30px;
	border-top: 5px solid #252b37;
	background: #fff;
}

#viz-features .slogan {
	display: inline-block;
	margin: 0 0 0 8px;
	padding: 0;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 1;
	vertical-align: 4px;
}

#viz-features .slogan a {
	color: #858585;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
	-webkit-transition: all 0.250s ease-in-out;
	transition: all 0.250s ease-in-out;
}

#viz-features .slogan a:hover {
	color: #ff6160;
}

#viz-features .slogan a:focus {
	outline: none;
	box-shadow: none;
}

#viz-features .header-btns {
	margin: 7px auto;
}

#viz-features .header-btns .buy-now {
	display: inline-block;
	margin-top: 2px;
	margin-right: 5px;
	padding: 15px 25px;
	border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: #e33b3f;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.250s ease-in-out;
	transition: all 0.250s ease-in-out;
}

#viz-features .header-btns .buy-now:hover {
	background: #252b37;
}

#viz-features .header-btns .buy-now .dashicons {
	padding-right: 3px;
}

#viz-features {
	padding: 0;
}

#viz-features .viz-features-content {
	width: 100%;
	padding: 0;
}

#viz-features .viz-features-header,
#viz-features .viz-feature {
	box-sizing: border-box;
	width: 100%;
	margin: 30px 0 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

#viz-features .viz-feature .viz-feature-features,
#viz-features .viz-feature .viz-feature-image {
	margin: 0;
	vertical-align: middle;
}

#viz-features .viz-feature .viz-feature-features {
	box-sizing: border-box;
	padding: 0 0 20px;
}

#viz-features .viz-feature .viz-feature-image img {
	max-width: 470px;
}

#viz-features .viz-feature .viz-feature-image iframe {
	max-width: 100%;
}

#viz-features .viz-feature .viz-feature-features h2 {
	margin: 0 0 20px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
}

#viz-features .viz-feature .viz-feature-features h4 {
	margin: 0 0 10px;
	font-size: 24px;
}

#viz-features .viz-feature .viz-feature-features p {
	margin: 0 0 15px;
	font-size: 18px;
	line-height: 1.5;
}

#viz-features .viz-feature .viz-feature-image img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	#viz-features {
		padding: 0 15px;
	}
}

@media screen and (min-width: 1200px) {
	#viz-features .viz-feature {
		padding: 30px 60px;
	}

	#viz-features .viz-feature .viz-feature-features {
		padding: 0 30px 0 0;
	}

	#viz-features .viz-feature .viz-feature-features h2 {
		font-size: 30px;
	}

	#viz-features .viz-feature .viz-feature-features p {
		font-size: 20px;
	}
}

@media screen and (min-width: 1500px) {
	#viz-features .viz-feature .viz-feature-features {
		padding: 0 120px 0 0;
	}
}

@media screen and (max-width: 1100px) {
	#viz-features {
		text-align: center;
	}

	#viz-features .logo {
		margin-left: 0;
	}

	#viz-features .header-btns {
		display: block;
		float: none;
		margin: 10px 0 0;
		text-align: center;
	}
}

@media screen and (max-width: 1200px) {
	#viz-features .viz-feature .viz-feature-features,
	#viz-features .viz-feature .viz-feature-image {
		display: block;
	}

	#viz-features .viz-feature .viz-feature-image {
		display: inline-block;
		max-width: 100%;
		margin: 0 auto 30px;
	}

	#viz-features .slogan {
		display: none;
	}
}

#viz-features.viz-settings .viz-feature {
	margin-top: 0;
	border: none;
}

#viz-features.viz-settings  .nav-tab-wrapper {
	border-bottom: none;
}

#viz-features.viz-settings   .nav-tab-wrapper a.nav-tab-active,
#viz-features.viz-settings  .nav-tab-wrapper a:hover {
	background: #fff;
}

#viz-features.viz-settings  .nav-tab-wrapper a {
	margin-top: 10px;
	padding: 10px 20px;
	border: 0;
	color: #000;
	background: #e0e0e0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.viz-feature-centered {
	text-align: center;
}
