version: '3.3'

services:
  mysql:
    platform: linux/x86_64
    image: mysql:5.7
    volumes:
      - ./bin/mysql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
  cli:
    privileged: true
    image: wordpress:cli
    volumes:
      - ./bin:/var/www/html/bin
      - wpcore:/var/www/html/
      - .:/var/www/html/wp-content/plugins/visualizer/
    depends_on:
      - mysql
      - wordpress
    environment:
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=root
      - WORDPRESS_DB_PASSWORD=wordpress
      - WORDPRESS_DB_ROOT_PASSWORD=wordpress
      - WORDPRESS_DEBUG=1
  wordpress:
    privileged: true
    ports:
      - 8080:80
      - 8889:80
    depends_on:
      - mysql
    image: wordpress:latest
    volumes:
      - ./bin:/var/www/html/bin
      - wpcore:/var/www/html/
      - .:/var/www/html/wp-content/plugins/visualizer/
    environment:
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_ROOT_PASSWORD: wordpress
      WORDPRESS_DEBUG: 1

volumes:
  wpcore: