parameters:
	level: 6
	paths:
		- %currentWorkingDirectory%/classes
	bootstrapFiles:
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/symbols.php
	scanDirectories:
		- %currentWorkingDirectory%/vendor/neitanod/forceutf8
		- %currentWorkingDirectory%/vendor/openspout/openspout
		- %currentWorkingDirectory%/vendor/codeinwp/themeisle-sdk
	ignoreErrors:
		-
			identifiers:
				- include.fileNotFound
				- requireOnce.fileNotFound
includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
	- %currentWorkingDirectory%/phpstan-baseline.neon
